@{
    ViewData["Title"] = "Home Page";
}

<div class="my-5 text-center">
    <img src="https://www.gruposancristobal.com.ar/WebBundles/assets/img/logo_grupo_sc.svg" class="mx-3" style="width: 300px;" alt="Logo GSC">
    <img src="https://accesapp.org/wp-content/uploads/2021/07/logo-utn.png" style="width: 300px;" alt="Logo UTN">
</div>

<div class="text-center mt-3">
    <h1 class="display-6 mb-4">Welcome</h1>
    <a class="h4 text-decoration-none" asp-area="" asp-controller="Thing" asp-action="Index">Go to <span class="text-primary fw-bold">Things Page</span> </a>
</div>
